.banking-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.banking-top {
    border-radius: 2em;
    max-height: 50%;
    height: 30%;
    background-color: rgb(129, 184, 232);
}

.options-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 100%;
}

.option-item h3 {
    margin-top: 0;
}

.option-item {
    flex: 1;

    margin: 0 10px;
    padding: 40px;
    background-color: #7dcaf7;
    margin-bottom: 20px;
    color: black;
    border-radius: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.option-item:hover {
    background-color: #2f818c;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.banking1 {
    display: flex;
    max-height: 60%;
    flex-direction: row;
}

.banking-left {
    flex: 1;
    max-width: 60%;
    padding-right: 20px;
    background-color: aliceblue;
    border-radius: 2em;
}

.banking-right {
    flex: 1;
    max-width: 40%;
    background-color: rgb(215, 234, 244);
    border-radius: 2em;
}

.banking-facilities-container {
    width: 100%;
}

.banking-scrollable-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.banking-facilities-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banking-facility-item {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.banking-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.banking-paragraph {
    margin: 5px 0;
}

.banking-paragraph span {
    font-weight: bold;
}