.service {
    background-color: rgb(252, 248, 248);
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: 20%;
    text-align: center;
    position: relative;
}

.service img {
    margin-bottom: 1em;
}

.service h2 {
    color: #3498db;
    margin-bottom: 0.5em;
}